[run]
# relative_files = True is necessary as per documentation of
# https://github.com/AndreMiras/coveralls-python-action
relative_files = True
source = quantecon
omit =
    */python?.?/*
    */lib-python/?.?/*.py
    */lib_pypy/_*.py
    */site-packages/ordereddict.py
    */site-packages/nose/*
    */unittest2/*

[report]
show_missing = True
# Regexes for lines to exclude from consideration
exclude_lines =
    # Have to re-enable the standard pragma
    pragma: no cover

    # Don't complain about missing debug-only code:
    def __repr__
    if self\.debug

    # Don't complain if tests don't hit defensive assertion code:
    raise AssertionError
    raise NotImplementedError

    # Don't complain if non-runnable code isn't run:
    if 0:
    if __name__ == .__main__.:

    # Don't count Numba nopython=True jit functions
    @jit
    @jit\(.*nopython=True
    @njit
    @generated_jit\(.*nopython=True
    @guvectorize\(.*nopython=True
