*.pyc
*.ipynb_checkpoints*

build/
/dist/
quantecon.egg-info/
*.DS_Store
*.TODO
*.noseids
*.coverage
*.h5
examples/solow_model/depreciation_rates.dta
examples/solow_model/pwt80.dta
examples/*.png

# Numba cache files
*.nbc
*.nbi
